*{
    margin: 0;
    padding: 0;
}
.navbar01{
    background-color: transparent;
    font-weight: bold;
}
.header-link{
    font-size: 32px;
    color: #ffd900;
    font-weight: bolder;
    text-decoration: none;
}
.header-link:hover{
    text-decoration: none;
    color: #fff;
    transition: .8s;
}
.navbar01 .links{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    margin-right: 20px;
}
#link-ref{
    color: #ff4444;
    transition: .5s;
}
#link-ref:hover{
    color: white;
}
.navbar01 a:hover{
    color: #ff4444;
    text-decoration: none;
    width: 100%;
}
.header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 75%;
    padding: 20px 40px;
    background-color: transparent;
    backdrop-filter: blur(40px);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.bgImg{
    width: 100%;
    position: relative;
}
.bgImg img{
    max-height: 100vh;
    filter: brightness(30%);
    width: 100%;
    /* visibility: hidden; */
    z-index: -1;
}
.bgImg .box-text{
    position: absolute;
    background-color: transparent;
    width: 40%;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    height: auto;
}
.box-text h1{
    font-family: "Permanent Marker", cursive;
    font-style: normal;
    font-size: 80px;
    font-weight: bold;
    text-align: left;
    z-index: 1;
    color: rgb(255, 255, 255);
}
.box-text p{
    font-family: "Mitr", sans-serif;
    font-style: normal;
    font-size: 16px;
    z-index: 1;
    color: white;
}
.box-text button{
    margin-right: 10px;
    font-weight: bold;
    width: 15%;
    z-index: 1;
}
.page3 .box-text{
    left: 75%;
}
.page2 .box-text{
    left: 50%;
}
.page2 h1{
    text-align: center;
}
.page2 img{
    max-height: 120vh;
}
.page3 img{
    /* filter: brightness(); */
    max-height: 110vh;
}
/* .shadow-tab{
    position: absolute;
    background-color: rgb(0, 0, 0, 0.7);
    width: 105%;
    height: 100%;
    z-index: 1;
} */
.page4 img{
    width: 100%;
    max-height: 120vh;
}