#menu {
    position: relative;
}

.menu-bar {
    /* position: absolute; */
    width: 100%;
    height: 10vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
}

.menu-box-bar {
    position: relative;
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    width: 10%;
    height: 100%;
    font-size: 18px;
    background-color: #fff;
    cursor: pointer;
}

.menu-box-bar:hover {
    background-color: rgb(214, 213, 213, 0.2);
    transition: .3s
}

.menu-bar-recommend,
.menu-bar-fried {
    position: relative;
    width: 100%;
    height: 7vh;
    background-color: rgb(214, 213, 213, 0.2);
}

.menu-box-bar-image {
    width: 100%;
    height: 70%;
    box-sizing: border-box;
    /* background-color: red; */
}

.menu-box-bar-image img {
    position: relative;
    width: 100%;
    height: 100%;
    top: 5%;
    object-fit: cover;
    /* background-color: rgb(104, 70, 70); */
}

.menu-box-bar-image img {
    width: calc(100% - 35%);
    position: relative;
    bottom: 10px;
}

.menu-box-bar-content {
    width: 100%;
    height: 30%;
    font-weight: bold;
    text-align: center;
}

.menu-bar-recommend h2 {
    font-family: "Permanent Marker", cursive;
    font-style: normal;
    margin-left: 5%;
    color: #962a00;
    font-weight: bold;
    padding: 10px;
    font-size: 24px;
    position: absolute;
    top: 7px;
    border-radius: 10px;
    /* border: 1px solid black; */
    border-left: 4px solid #962a00;
}

.swiper {
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.swiper .menu-bar {
    /* position: absolute; */
    width: 100%;
    height: 10vh;
    background-color: #fff;
    display: inline-flex;
    justify-content: left;
    text-align: start;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test2 {
    display: none;
}


.col-menu {
    width: 100%;
    height: auto;
    background-color: #443030;
}

.row1 {
    width: 100%;
    height: 100%;
    background-image: url(Image_inventory/WallPaper.webp);
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}

.col1 {
    width: 29%;
    height: 40vh;
    box-sizing: border-box;
    box-shadow: 5px 5px 20px;
    background-color: white;
}

.col1-sub {
    width: 100%;
    height: 80%;
    background-color: transparent;
}

.col1-sub img {
    width: 100%;
    height: 100%;
    filter: brightness(100%);
    cursor: pointer;
}

.col1-sub img:hover {

    filter: brightness(115%);
    transition: .8s;
}

.col1-sub-content {
    position: inherit;
    width: 100%;
    height: 20%;
    display: flex;
}

.col1-sub-content-1 {
    position: relative;
    width: 70%;
    height: 100%;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    padding-left: 5%;
    /* justify-content: center; */
    align-items: center;
    background-color: transparent;
}

.col1-sub-content-2 {
    position: relative;
    width: 30%;
    height: 100%;
    background-color: transparent;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f71919;
    font-weight: bold;
    cursor: pointer;
    /* padding-right: 10px; */
}

.col1-sub-content-2 button {
    color: #000;
    font-weight: 600;
}

.col1-sub-content-2:hover button {
    color: #fff;
    font-weight: 600;
}

.col1-sub-content-2:hover button::before {
    content: "Add to Cart";
}

.col1-sub-content-2:hover {
    background-color: #ff4848;
    transition: .8s;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 50px;
    right: 50px;
    background-color: rgb(0, 62, 87);
    color: white;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.my-float {
    margin: 0 auto;
    font-size: 18px;
}

.float .my-float:hover {
    color: rgb(255, 252, 60);
    transition: .5s;
}

.quantity_input {
    text-align: center;
    height: 35%;
}

.cart-action {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
}

.cart-action button {
    width: 20px;
    height: 35%;
    border: none;
    border-radius: 2px;
    border: 1px solid grey;
    background-color: white;
}

.cart-action2 {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
    border-radius: 10px;
}

.cart-action2 button {
    width: 30%;
    height: 100%;
    border: none;
    border-radius: 2px;
    border: 1px solid grey;
    background-color: white;
}

.cart-action2 input {
    width: 50%;
    height: 100%;
}

@media screen and (max-width: 1562px) {
    .col1-sub-content {
        font-size: 18px;
    }
}

@media screen and (max-width: 1440px) {
    .col1 {
        width: calc(48% - 20px);
    }

    .col1-sub-content {
        font-size: 18px;
    }

    /* .col1-sub-content-2{
        m
    } */
    .shopping-cart {
        position: relative;
        left: calc(100% - 17%);
        top: calc(100% - 40%);
        padding: 0;
    }
}

@media screen and (max-width: 1100px) {
    .col1-sub-content-1 {
        font-size: 17px;
    }

    .col1-sub-content-2 {
        font-size: 17px;
    }
}

/* Responsive Laptop Monitor 1024px */
@media screen and (max-width: 1024px) {
    .col1 {
        width: calc(48%);
    }

    .shopping-cart {
        position: relative;
        left: calc(100% - 25%);
        top: calc(100% - 40%);
        padding: 0;
    }

    .shopping-cart i {
        font-size: 18px;
        margin-right: 1%;
    }

    .shopping-cart a {
        color: white;
        font-size: 18px;
    }

    .menu-box-bar {
        width: 15%;
        font-size: 14px;
        margin-right: calc(4% - 20px);
    }

    .menu-box-bar-image img {
        width: calc(100% - 25%);
    }
}

@media screen and (max-width: 768px) {
    .col1 {
        width: calc(50% - 20px);
    }

    .col1-sub-content {
        font-size: 18px;
    }

    .shopping-cart {
        position: relative;
        left: calc(100% - 15%);
        top: calc(100% - 40%);
        padding: 0;
    }

    #list-menu {
        display: flex;
        margin: 0 auto;
        font-size: 24px;
    }

    .test1 {
        display: none;
    }

    .test2 {
        display: flex;
    }

}

@media screen and (max-width: 550px) {
    .col1 {
        width: 100%;
    }
}