body{
    background-image: url(/Image_inventory/WallPaper.webp);
}
.containers{
    width: 60%;
    height: 40rem;
    background-color: white;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;

}
#hello{
    font-size: 30px;
}
.show-profile{ 
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 1%;

}
.list-menu{
    width: 15%;
    height: 40rem;
    background-color: white;
    padding: 10px;
    display: block;
    border-right: 1px solid black;
}
.account-item {
    display: flex;
    align-items: center;
    /* justify-: center; */
    padding: 10px;
    max-width: 100%;
    width: 100%;
    height: 10%;
    /* border: 1px solid black; */
    box-sizing: border-box;
    cursor: pointer;
}
.account-item:hover{
    border-bottom: 4px solid #962a00;
    transition: 0.3s;
}
.account-item h2 {
    padding-top: 10px;
    font-weight: 600;
    font-size: 18px;
}

.account-item i {
    color: #000000;
    margin: 0 0;
    margin-right: 5%;
    font-size: 18px;
}
.head1{
    height: 15%;
    background-color: #962a00;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: auto;
}
.head1 i{
    font-size: 2rem;
    margin-left: 5%;
    margin-right: 10%;
    color: white;
}

.space{
    max-width: 100%;
    width: 95%;
    height: 80%;
    background-color: transparent;
    border-radius: 10px;
    color: black;
}
.account-topic{
    display: flex;
}
.account-topic h2{
    width: 90%;
    height: 15%;
    font-weight: bold;
    font-size: 22px;
}
.space .detail-topic{
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: black;
}
#username{
    font-size: 22px;
}
.row{
    /* border: 1px solid black; */
    margin-bottom: 2%;
}
.col input{
    width: 100%;
}

/* Info-user */
#staticEmail{
    width: 40%;
    color: black;
    margin-left: 1%;
    background-color: transparent;
    border: none;
    font-size: 24px;
}
#row-username{
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 5%;
    font-size: 24px;
}
.custom-input {
    width: 40%;
}
#dob1{
    width: 100%;
}
.btn-danger{
    margin-left: 5%;
}

/* Address */
.user-address{
    display: flex;
    width: 100%;
    height: 20%;
    border: 1px dotted grey;
    max-width: 100%;
    padding: 6px 10px;
    margin-bottom: 1%;
    /* max-height: 100%; */
}
.account-topic{
    margin-bottom: 2%;
}
.address-list{
    width: 50%;
    height: 100%;
    max-height: 100%;
}
.address-list2{
    width: 50%;
    height: 100%;
    max-height: 100%;
    text-align: right;
}

/* History bough */
.history-bought{
    display: block;
    width: 100%;
    height: 40%;
    border: 1px solid black;
    max-width: 100%;
    padding: 6px 10px;
    margin-bottom: 1%;
}
.bought{
    height: 100%;
    display: flex;
    max-width: 100%;
    max-height: 100%;
}
.img-bought{
    width: 15%;
    height: 75%;
    border: 1px solid salmon;
}
.detail-menu{
    padding: 4px 4px;
    width: 85%;
    height: 75%;
    border: 1px solid rebeccapurple;
    overflow: hidden;
    font-size: 14px;
}
.detail-menu p{
    margin-top: 0;
}

/* Footer */
.footer{
    width: 100%;
    /* padding: 20px; */
    height: 50vh;
    background-color:#000000;
    /* text-align: center; */
}
.box-footer{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    position: absolute;
    /* left: 50%;
    transform: translate(-50%); */
    margin-top: 40px;
    z-index: 1;
    color: white;
}
.box-footer p{
    font-size: 20px;
}
.box-footer h1{
    font-weight: bold;
}
i{
    margin-top: 20px;
    margin-right: 30px;
    font-size: 30px;
    color: white;
}
#locate{
    padding: 10px;
    margin-top: 10px;
    margin-right: 5px;
    color: #ff4444;
}
.row{
    font-family: "Mitr", sans-serif;
    font-style: normal;
    width: 100%;
}
.col{
    margin-left: 5%;
}
.col .icon{
    text-align: left;
}
.col h2{
    color: #ffc400;
    font-weight: bold;
}
.modal-lg {
    width: 100vh;
}
.modal-lg .modal-title{
    font-weight: bolder;
    font-size: 36px;
}